<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/1f978c1d-437c-42e2-a70e-a1b076cb02e2/resourceGroups/MusicOn/providers/Microsoft.Web/sites/janelee-musicon</ResourceId>
    <ResourceGroup>MusicOn</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://janelee-musicon.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>janelee-musicon.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>janelee-musicon</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$janelee-musicon</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:janelee-musicon-db.database.windows.net,1433;Initial Catalog=janelee-musicon;Persist Security Info=False;User ID=hlee211;Password=Password123!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="Server=tcp:janelee-musicon-db.database.windows.net,1433;Initial Catalog=janelee-musicon;Persist Security Info=False;User ID=hlee211;Password=Password123!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Assignment5.Models.ApplicationDbContext, Web app project template v2" MigrationConfiguration="Assignment5.Migrations.Configuration, Web app project template v2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Server=tcp:janelee-musicon-db.database.windows.net,1433;Initial Catalog=janelee-musicon;Persist Security Info=False;User ID=hlee211;Password=Password123!;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>