@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment5</h1>
    <p class="lead">This website manages artist, album and track with various media items.</p>
    <p><a href="http://hlee211-wa2020a5.azurewebsites.net/" target="_blank" class="btn btn-primary btn-lg">Assignment5 on Azure &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>MIME</h2>
        <p>A MIME type (or media type) is an identifier for file formats or format contents on the Internet.</p>
        <p>MIME stands for Multipurpose Internet Mail Extensions and all MIMe types are officially maintained by the Internet Assigned Numbers Authority (IANA).</p>
    </div>
    <div class="col-md-4">
        <h2>File Upload</h2>
        <p>ASP.NET FileUpload control provides functionality to browse a file and upload on a WEB server.</p> 
        <p>FileName property is the name of the file to be uploaded. FileContent property gets a Stream object of that file.</p>
    </div>
</div>