@{
    ViewBag.Title = "Home Page";
}

<!-- Slideshow container -->
    <div class="content section" style="max-width:1200px">
        <div class="mySlides animate-right">
            <img class="image" src="~/image/homepage1.jpg" style="width:100%">
            <div class="text">Welcome to MusicOn!</div>
        </div>

        <div class="mySlides animate-right">
            <img class="image" src="~/image/homepage2.jpg" style="width:100%">
            <div class="text">Welcome to MusicOn!</div>
        </div>

        <div class="mySlides animate-right">
            <img class="image" src="~/image/homepage3.jpg" style="width:100%">
            <div class="text">Welcome to MusicOn!</div>
        </div>
        @*<img class="mySlides animate-right image" src="~/image/homepage1.jpg" style="width:100%">
        <img class="mySlides animate-right image" src="~/image/homepage2.jpg" style="width:100%">
        <img class="mySlides animate-right image" src="~/image/homepage3.jpg" style="width:100%">
        <div class="text">Caption Two</div>*@
    </div>
<br>

<div class="row">
    <div class="col-md-6">
        <h2>MIME</h2>
        <p>A MIME type (or media type) is an identifier for file formats or format contents on the Internet.</p>
        <p>MIME stands for Multipurpose Internet Mail Extensions and all MIMe types are officially maintained by the Internet Assigned Numbers Authority (IANA).</p>
    </div>
    <div class="col-md-6">
        <h2>File Upload</h2>
        <p>ASP.NET FileUpload control provides functionality to browse a file and upload on a WEB server.</p>
        <p>FileName property is the name of the file to be uploaded. FileContent property gets a Stream object of that file.</p>
    </div>
</div>