@{
    ViewBag.Title = "Home Page";
}

<!-- Slideshow container -->
    <div class="content section" style="max-width:1200px">
        <div class="mySlides animate-right">
            <img class="image" src="~/image/homepage1.jpg" style="width:100%">
            <div class="text">Welcome to MusicOn!</div>
        </div>

        <div class="mySlides animate-right">
            <img class="image" src="~/image/homepage2.jpg" style="width:100%">
            <div class="text">Welcome to MusicOn!</div>
        </div>

        <div class="mySlides animate-right">
            <img class="image" src="~/image/homepage3.jpg" style="width:100%">
            <div class="text">Welcome to MusicOn!</div>
        </div>
        @*<img class="mySlides animate-right image" src="~/image/homepage1.jpg" style="width:100%">
        <img class="mySlides animate-right image" src="~/image/homepage2.jpg" style="width:100%">
        <img class="mySlides animate-right image" src="~/image/homepage3.jpg" style="width:100%">
        <div class="text">Caption Two</div>*@
    </div>
<br>

    <div class="center">
        <h2>Test Accounts</h2>
    </div>
<div class="row justify-content-center">

        <div class="col-md-3">
            <h4>Administrator</h4>
            <p>admin@example.com / Password!</p>
            <p>create initial data</p>
        </div>
        <div class="col-md-3">
            <h4>Executive</h4>
            <p>exec@example.com / Password!</p>
            <p>add, edit, delete an artist</p>
        </div>
        <div class="col-md-3">
            <h4>Coordinator</h4>
            <p>coord@example.com / Password123!</p>
            <p>add, edit, delete an album</p>
        </div>
        <div class="col-md-3">
            <h4>Clerk</h4>
            <p>clerk@example.com / Password123!</p>
            <p>add, edit, delete a track</p>
        </div>
    </div>